/* Bootstrap overrides */

.panel {
    background-color: rgba(51, 51, 51, 0.91);
    border: 0;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.panel-footer {
    background-color: #000;
    border-top: 1px solid #000;
}

.form-control {
    width: 100%;
    color: #fff;
    background-color: #555;
    border: 1px solid #333;
}

.container {
    width: 100vw;
    padding: 0;
}

body {
        background: url("../images/Highway.jpg") no-repeat;
        background-size: 100% 100%;
        overflow: hidden;
        height: 100vh;
    }

.grey-fade {
        background-color: rgba(85, 85, 85, 0.7);

}

/*#landing-page,
#roadtrip-form-page,
#city-page,
#playlist-page {
    display: block;
}*/


/* Custom styles */

tr.selected {
    background-color: #555;
}

#city-table {
    margin: 20px auto;
}

#table-container {
    padding: 0 50px;
}

#roadtrip-form-page {
    height: 100vh;
/*    width: 100vw;*/
    margin: 0;
    padding: 0; }


#spinner {
    display: none;
}

#continue {
    display: none;
}

.hide {
    display: none;
}